body {
  font-family: 'Playfair Display', serif;
}

h1, h3 {
  text-shadow: 2px 2px 10px white;
}

.pfp {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.card {
  border-radius: 8px;
}

.center {
  margin: auto;
  text-align: center;
}